.cover {
    background-image:url(https://s31.postimg.cc/cfx6rhhcb/Orange_background.jpg); 
    background: url(https://s31.postimg.cc/cfx6rhhcb/Orange_background.jpg);
    background-size: 100%;
}

img {
    pointer-events: none;
}